body {
  height: 100%;
  width: 100%;
  background-color: cornsilk;
}
.thick-border-1 {
  border: solid 10px black;
}
.thick-border-2 {
  border-width: 10px;
  border-style: double;
  border-color: black;
}
.color-primary {
  background-color: gold;
}
.outer-square {
  width: 460px;
  height: 460px;
  background-color: sandybrown;
}
.inner-square {
  width: 200px;
  height: 200px;
  background-color: white;
}
.inner-inner-square {
  width: 120px;
  height: 120px;
  background-image: url("/img/gighy.gif");
  background-size: cover;
  background-position: center;
}
/* Version 1 for centering using FlexBox
this centering is apllied to the direct child*/
.center-v1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
/*version 2 for centering only horizontaly
this centering is apllied to the element that has this class */
.center-v2 {
  margin: auto;
}
.main-container {
  width: 820px;
  height: 290px;
  background-color: white;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.meme-container {
  width: 230px;
  height: 230px;
}
.border-rounded-1 {
  border: solid 10px black;
  border-radius: 20%;
}
#meme-square-1 {
}

#meme-square-2 {
  background-image: url("/img/gighy.gif");
  background-size: cover;
  background-position: center;
}

#meme-square-3 {
}
